StructuralPattern/ch08_Bridge/obj/ch08_Bridge.csproj.nuget.cache
StructuralPattern/ch08_Bridge/obj/ch08_Bridge.csproj.nuget.dgspec.json
StructuralPattern/ch08_Bridge/obj/ch08_Bridge.csproj.nuget.g.props
StructuralPattern/ch08_Bridge/obj/ch08_Bridge.csproj.nuget.g.targets
StructuralPattern/ch08_Bridge/obj/project.assets.json
StructuralPattern/ch08_Bridge/obj/Debug/netcoreapp3.1/ch08_Bridge.AssemblyInfo.cs
StructuralPattern/ch08_Bridge/obj/Debug/netcoreapp3.1/ch08_Bridge.AssemblyInfoInputs.cache
StructuralPattern/ch08_Bridge/obj/Debug/netcoreapp3.1/ch08_Bridge.assets.cache
StructuralPattern/ch08_Bridge/obj/Debug/netcoreapp3.1/ch08_Bridge.csproj.CopyComplete
StructuralPattern/ch08_Bridge/obj/Debug/netcoreapp3.1/ch08_Bridge.csproj.FileListAbsolute.txt
StructuralPattern/ch08_Bridge/obj/Debug/netcoreapp3.1/ch08_Bridge.csprojAssemblyReference.cache
StructuralPattern/ch08_Bridge/obj/Debug/netcoreapp3.1/ch08_Bridge.dll
StructuralPattern/ch08_Bridge/obj/Debug/netcoreapp3.1/ch08_Bridge.exe
StructuralPattern/ch08_Bridge/obj/Debug/netcoreapp3.1/ch08_Bridge.pdb
StructuralPattern/ch08_Bridge/bin/Debug/netcoreapp3.1/ch08_Bridge.deps.json
StructuralPattern/ch08_Bridge/bin/Debug/netcoreapp3.1/ch08_Bridge.dll
StructuralPattern/ch08_Bridge/bin/Debug/netcoreapp3.1/ch08_Bridge.dll.config
StructuralPattern/ch08_Bridge/bin/Debug/netcoreapp3.1/ch08_Bridge.exe
StructuralPattern/ch08_Bridge/bin/Debug/netcoreapp3.1/ch08_Bridge.pdb
StructuralPattern/ch08_Bridge/bin/Debug/netcoreapp3.1/ch08_Bridge.runtimeconfig.dev.json
StructuralPattern/ch08_Bridge/bin/Debug/netcoreapp3.1/ch08_Bridge.runtimeconfig.json
StructuralPattern/ch08_Bridge/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
StructuralPattern/ch08_Bridge/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
StructuralPattern/ch08_Bridge/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
StructuralPattern/ch08_Bridge/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
StructuralPattern/ch08_Bridge/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
StructuralPattern/ch08_Bridge/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
StructuralPattern/ch08_Bridge/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
StructuralPattern/ch08_Bridge/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
StructuralPattern/ch08_Bridge/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
StructuralPattern/ch08_Bridge/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
StructuralPattern/ch08_Bridge/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
CreationalPattern/ch06_Singleton/obj/ch06_Singleton.csproj.nuget.cache
CreationalPattern/ch06_Singleton/obj/ch06_Singleton.csproj.nuget.dgspec.json
CreationalPattern/ch06_Singleton/obj/ch06_Singleton.csproj.nuget.g.props
CreationalPattern/ch06_Singleton/obj/ch06_Singleton.csproj.nuget.g.targets
CreationalPattern/ch06_Singleton/obj/project.assets.json
CreationalPattern/ch06_Singleton/obj/Debug/netcoreapp3.1/ch06_Singleton.AssemblyInfo.cs
CreationalPattern/ch06_Singleton/obj/Debug/netcoreapp3.1/ch06_Singleton.AssemblyInfoInputs.cache
CreationalPattern/ch06_Singleton/obj/Debug/netcoreapp3.1/ch06_Singleton.assets.cache
CreationalPattern/ch06_Singleton/obj/Debug/netcoreapp3.1/ch06_Singleton.csproj.FileListAbsolute.txt
CreationalPattern/ch06_Singleton/obj/Debug/netcoreapp3.1/ch06_Singleton.csprojAssemblyReference.cache
CreationalPattern/ch06_Singleton/obj/Debug/netcoreapp3.1/ch06_Singleton.dll
CreationalPattern/ch06_Singleton/obj/Debug/netcoreapp3.1/ch06_Singleton.exe
CreationalPattern/ch06_Singleton/obj/Debug/netcoreapp3.1/ch06_Singleton.pdb
CreationalPattern/ch06_Singleton/bin/Debug/netcoreapp3.1/ch06_Singleton.deps.json
CreationalPattern/ch06_Singleton/bin/Debug/netcoreapp3.1/ch06_Singleton.dll
CreationalPattern/ch06_Singleton/bin/Debug/netcoreapp3.1/ch06_Singleton.exe
CreationalPattern/ch06_Singleton/bin/Debug/netcoreapp3.1/ch06_Singleton.pdb
CreationalPattern/ch06_Singleton/bin/Debug/netcoreapp3.1/ch06_Singleton.runtimeconfig.dev.json
CreationalPattern/ch06_Singleton/bin/Debug/netcoreapp3.1/ch06_Singleton.runtimeconfig.json
StructuralPattern/ch07_Adapter/obj/ch07_Adapter.csproj.nuget.cache
StructuralPattern/ch07_Adapter/obj/ch07_Adapter.csproj.nuget.dgspec.json
StructuralPattern/ch07_Adapter/obj/ch07_Adapter.csproj.nuget.g.props
StructuralPattern/ch07_Adapter/obj/ch07_Adapter.csproj.nuget.g.targets
StructuralPattern/ch07_Adapter/obj/project.assets.json
StructuralPattern/ch07_Adapter/obj/Debug/netcoreapp3.1/ch07_Adapter.AssemblyInfo.cs
StructuralPattern/ch07_Adapter/obj/Debug/netcoreapp3.1/ch07_Adapter.AssemblyInfoInputs.cache
StructuralPattern/ch07_Adapter/obj/Debug/netcoreapp3.1/ch07_Adapter.assets.cache
StructuralPattern/ch07_Adapter/obj/Debug/netcoreapp3.1/ch07_Adapter.csproj.CopyComplete
StructuralPattern/ch07_Adapter/obj/Debug/netcoreapp3.1/ch07_Adapter.csproj.FileListAbsolute.txt
StructuralPattern/ch07_Adapter/obj/Debug/netcoreapp3.1/ch07_Adapter.csprojAssemblyReference.cache
StructuralPattern/ch07_Adapter/obj/Debug/netcoreapp3.1/ch07_Adapter.dll
StructuralPattern/ch07_Adapter/obj/Debug/netcoreapp3.1/ch07_Adapter.exe
StructuralPattern/ch07_Adapter/obj/Debug/netcoreapp3.1/ch07_Adapter.pdb
StructuralPattern/ch07_Adapter/bin/Debug/netcoreapp3.1/ch07_Adapter.deps.json
StructuralPattern/ch07_Adapter/bin/Debug/netcoreapp3.1/ch07_Adapter.dll
StructuralPattern/ch07_Adapter/bin/Debug/netcoreapp3.1/ch07_Adapter.dll.config
StructuralPattern/ch07_Adapter/bin/Debug/netcoreapp3.1/ch07_Adapter.exe
StructuralPattern/ch07_Adapter/bin/Debug/netcoreapp3.1/ch07_Adapter.pdb
StructuralPattern/ch07_Adapter/bin/Debug/netcoreapp3.1/ch07_Adapter.runtimeconfig.dev.json
StructuralPattern/ch07_Adapter/bin/Debug/netcoreapp3.1/ch07_Adapter.runtimeconfig.json
StructuralPattern/ch07_Adapter/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
StructuralPattern/ch07_Adapter/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
StructuralPattern/ch07_Adapter/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
StructuralPattern/ch07_Adapter/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
StructuralPattern/ch07_Adapter/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
StructuralPattern/ch07_Adapter/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
StructuralPattern/ch07_Adapter/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
StructuralPattern/ch07_Adapter/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
StructuralPattern/ch07_Adapter/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
StructuralPattern/ch07_Adapter/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
StructuralPattern/ch07_Adapter/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
CreationalPattern/ch05_Prototype/obj/ch05_Prototype.csproj.nuget.cache
CreationalPattern/ch05_Prototype/obj/ch05_Prototype.csproj.nuget.dgspec.json
CreationalPattern/ch05_Prototype/obj/ch05_Prototype.csproj.nuget.g.props
CreationalPattern/ch05_Prototype/obj/ch05_Prototype.csproj.nuget.g.targets
CreationalPattern/ch05_Prototype/obj/project.assets.json
CreationalPattern/ch05_Prototype/obj/Debug/netcoreapp3.1/ch05_Prototype.AssemblyInfo.cs
CreationalPattern/ch05_Prototype/obj/Debug/netcoreapp3.1/ch05_Prototype.AssemblyInfoInputs.cache
CreationalPattern/ch05_Prototype/obj/Debug/netcoreapp3.1/ch05_Prototype.assets.cache
CreationalPattern/ch05_Prototype/obj/Debug/netcoreapp3.1/ch05_Prototype.csproj.CopyComplete
CreationalPattern/ch05_Prototype/obj/Debug/netcoreapp3.1/ch05_Prototype.csproj.FileListAbsolute.txt
CreationalPattern/ch05_Prototype/obj/Debug/netcoreapp3.1/ch05_Prototype.csprojAssemblyReference.cache
CreationalPattern/ch05_Prototype/obj/Debug/netcoreapp3.1/ch05_Prototype.dll
CreationalPattern/ch05_Prototype/obj/Debug/netcoreapp3.1/ch05_Prototype.exe
CreationalPattern/ch05_Prototype/obj/Debug/netcoreapp3.1/ch05_Prototype.pdb
CreationalPattern/ch05_Prototype/bin/Debug/netcoreapp3.1/ch05_Prototype.deps.json
CreationalPattern/ch05_Prototype/bin/Debug/netcoreapp3.1/ch05_Prototype.dll
CreationalPattern/ch05_Prototype/bin/Debug/netcoreapp3.1/ch05_Prototype.exe
CreationalPattern/ch05_Prototype/bin/Debug/netcoreapp3.1/ch05_Prototype.pdb
CreationalPattern/ch05_Prototype/bin/Debug/netcoreapp3.1/ch05_Prototype.runtimeconfig.dev.json
CreationalPattern/ch05_Prototype/bin/Debug/netcoreapp3.1/ch05_Prototype.runtimeconfig.json
CreationalPattern/ch05_Prototype/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
CreationalPattern/ch04_Builder/obj/ch04_Builder.csproj.nuget.cache
CreationalPattern/ch04_Builder/obj/ch04_Builder.csproj.nuget.dgspec.json
CreationalPattern/ch04_Builder/obj/ch04_Builder.csproj.nuget.g.props
CreationalPattern/ch04_Builder/obj/ch04_Builder.csproj.nuget.g.targets
CreationalPattern/ch04_Builder/obj/project.assets.json
CreationalPattern/ch04_Builder/obj/Debug/netcoreapp3.1/ch04_Builder.AssemblyInfo.cs
CreationalPattern/ch04_Builder/obj/Debug/netcoreapp3.1/ch04_Builder.AssemblyInfoInputs.cache
CreationalPattern/ch04_Builder/obj/Debug/netcoreapp3.1/ch04_Builder.assets.cache
CreationalPattern/ch04_Builder/obj/Debug/netcoreapp3.1/ch04_Builder.csproj.CopyComplete
CreationalPattern/ch04_Builder/obj/Debug/netcoreapp3.1/ch04_Builder.csproj.FileListAbsolute.txt
CreationalPattern/ch04_Builder/obj/Debug/netcoreapp3.1/ch04_Builder.csprojAssemblyReference.cache
CreationalPattern/ch04_Builder/obj/Debug/netcoreapp3.1/ch04_Builder.dll
CreationalPattern/ch04_Builder/obj/Debug/netcoreapp3.1/ch04_Builder.exe
CreationalPattern/ch04_Builder/obj/Debug/netcoreapp3.1/ch04_Builder.pdb
CreationalPattern/ch04_Builder/bin/Debug/netcoreapp3.1/ch04_Builder.deps.json
CreationalPattern/ch04_Builder/bin/Debug/netcoreapp3.1/ch04_Builder.dll
CreationalPattern/ch04_Builder/bin/Debug/netcoreapp3.1/ch04_Builder.dll.config
CreationalPattern/ch04_Builder/bin/Debug/netcoreapp3.1/ch04_Builder.exe
CreationalPattern/ch04_Builder/bin/Debug/netcoreapp3.1/ch04_Builder.pdb
CreationalPattern/ch04_Builder/bin/Debug/netcoreapp3.1/ch04_Builder.runtimeconfig.dev.json
CreationalPattern/ch04_Builder/bin/Debug/netcoreapp3.1/ch04_Builder.runtimeconfig.json
CreationalPattern/ch04_Builder/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
CreationalPattern/ch04_Builder/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
CreationalPattern/ch04_Builder/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
CreationalPattern/ch04_Builder/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
CreationalPattern/ch04_Builder/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
CreationalPattern/ch04_Builder/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
CreationalPattern/ch04_Builder/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
CreationalPattern/ch04_Builder/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
CreationalPattern/ch04_Builder/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
CreationalPattern/ch04_Builder/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
CreationalPattern/ch04_Builder/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
CreationalPattern/ch03_AbstractFactory/obj/ch03_AbstractFactory.csproj.nuget.cache
CreationalPattern/ch03_AbstractFactory/obj/ch03_AbstractFactory.csproj.nuget.dgspec.json
CreationalPattern/ch03_AbstractFactory/obj/ch03_AbstractFactory.csproj.nuget.g.props
CreationalPattern/ch03_AbstractFactory/obj/ch03_AbstractFactory.csproj.nuget.g.targets
CreationalPattern/ch03_AbstractFactory/obj/project.assets.json
CreationalPattern/ch03_AbstractFactory/obj/Debug/netcoreapp3.1/ch03_AbstractFactory.AssemblyInfo.cs
CreationalPattern/ch03_AbstractFactory/obj/Debug/netcoreapp3.1/ch03_AbstractFactory.AssemblyInfoInputs.cache
CreationalPattern/ch03_AbstractFactory/obj/Debug/netcoreapp3.1/ch03_AbstractFactory.assets.cache
CreationalPattern/ch03_AbstractFactory/obj/Debug/netcoreapp3.1/ch03_AbstractFactory.csproj.CopyComplete
CreationalPattern/ch03_AbstractFactory/obj/Debug/netcoreapp3.1/ch03_AbstractFactory.csproj.FileListAbsolute.txt
CreationalPattern/ch03_AbstractFactory/obj/Debug/netcoreapp3.1/ch03_AbstractFactory.csprojAssemblyReference.cache
CreationalPattern/ch03_AbstractFactory/obj/Debug/netcoreapp3.1/ch03_AbstractFactory.dll
CreationalPattern/ch03_AbstractFactory/obj/Debug/netcoreapp3.1/ch03_AbstractFactory.exe
CreationalPattern/ch03_AbstractFactory/obj/Debug/netcoreapp3.1/ch03_AbstractFactory.pdb
CreationalPattern/ch03_AbstractFactory/bin/Debug/netcoreapp3.1/ch03_AbstractFactory.deps.json
CreationalPattern/ch03_AbstractFactory/bin/Debug/netcoreapp3.1/ch03_AbstractFactory.dll
CreationalPattern/ch03_AbstractFactory/bin/Debug/netcoreapp3.1/ch03_AbstractFactory.dll.config
CreationalPattern/ch03_AbstractFactory/bin/Debug/netcoreapp3.1/ch03_AbstractFactory.exe
CreationalPattern/ch03_AbstractFactory/bin/Debug/netcoreapp3.1/ch03_AbstractFactory.pdb
CreationalPattern/ch03_AbstractFactory/bin/Debug/netcoreapp3.1/ch03_AbstractFactory.runtimeconfig.dev.json
CreationalPattern/ch03_AbstractFactory/bin/Debug/netcoreapp3.1/ch03_AbstractFactory.runtimeconfig.json
CreationalPattern/ch03_AbstractFactory/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
CreationalPattern/ch03_AbstractFactory/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
CreationalPattern/ch03_AbstractFactory/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
CreationalPattern/ch03_AbstractFactory/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
CreationalPattern/ch03_AbstractFactory/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
CreationalPattern/ch03_AbstractFactory/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
CreationalPattern/ch03_AbstractFactory/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
CreationalPattern/ch03_AbstractFactory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
CreationalPattern/ch03_AbstractFactory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
CreationalPattern/ch03_AbstractFactory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
CreationalPattern/ch03_AbstractFactory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
CreationalPattern/ch02_Factory/obj/ch02_Factory.csproj.nuget.cache
CreationalPattern/ch02_Factory/obj/ch02_Factory.csproj.nuget.dgspec.json
CreationalPattern/ch02_Factory/obj/ch02_Factory.csproj.nuget.g.props
CreationalPattern/ch02_Factory/obj/ch02_Factory.csproj.nuget.g.targets
CreationalPattern/ch02_Factory/obj/project.assets.json
CreationalPattern/ch02_Factory/obj/Debug/netcoreapp3.1/ch02_Factory.AssemblyInfo.cs
CreationalPattern/ch02_Factory/obj/Debug/netcoreapp3.1/ch02_Factory.AssemblyInfoInputs.cache
CreationalPattern/ch02_Factory/obj/Debug/netcoreapp3.1/ch02_Factory.assets.cache
CreationalPattern/ch02_Factory/obj/Debug/netcoreapp3.1/ch02_Factory.csproj.CopyComplete
CreationalPattern/ch02_Factory/obj/Debug/netcoreapp3.1/ch02_Factory.csproj.FileListAbsolute.txt
CreationalPattern/ch02_Factory/obj/Debug/netcoreapp3.1/ch02_Factory.csprojAssemblyReference.cache
CreationalPattern/ch02_Factory/obj/Debug/netcoreapp3.1/ch02_Factory.dll
CreationalPattern/ch02_Factory/obj/Debug/netcoreapp3.1/ch02_Factory.exe
CreationalPattern/ch02_Factory/obj/Debug/netcoreapp3.1/ch02_Factory.pdb
CreationalPattern/ch02_Factory/bin/Debug/netcoreapp3.1/ch02_Factory.deps.json
CreationalPattern/ch02_Factory/bin/Debug/netcoreapp3.1/ch02_Factory.dll
CreationalPattern/ch02_Factory/bin/Debug/netcoreapp3.1/ch02_Factory.dll.config
CreationalPattern/ch02_Factory/bin/Debug/netcoreapp3.1/ch02_Factory.exe
CreationalPattern/ch02_Factory/bin/Debug/netcoreapp3.1/ch02_Factory.pdb
CreationalPattern/ch02_Factory/bin/Debug/netcoreapp3.1/ch02_Factory.runtimeconfig.dev.json
CreationalPattern/ch02_Factory/bin/Debug/netcoreapp3.1/ch02_Factory.runtimeconfig.json
CreationalPattern/ch02_Factory/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
CreationalPattern/ch02_Factory/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
CreationalPattern/ch02_Factory/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
CreationalPattern/ch02_Factory/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
CreationalPattern/ch02_Factory/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
CreationalPattern/ch02_Factory/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
CreationalPattern/ch02_Factory/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
CreationalPattern/ch02_Factory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
CreationalPattern/ch02_Factory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
CreationalPattern/ch02_Factory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
CreationalPattern/ch02_Factory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
CreationalPattern/ch01_SimpleFactory/obj/ch01_SimpleFactory.csproj.nuget.cache
CreationalPattern/ch01_SimpleFactory/obj/ch01_SimpleFactory.csproj.nuget.dgspec.json
CreationalPattern/ch01_SimpleFactory/obj/ch01_SimpleFactory.csproj.nuget.g.props
CreationalPattern/ch01_SimpleFactory/obj/ch01_SimpleFactory.csproj.nuget.g.targets
CreationalPattern/ch01_SimpleFactory/obj/project.assets.json
CreationalPattern/ch01_SimpleFactory/obj/Debug/netcoreapp3.1/ch01_SimpleFactory.AssemblyInfo.cs
CreationalPattern/ch01_SimpleFactory/obj/Debug/netcoreapp3.1/ch01_SimpleFactory.AssemblyInfoInputs.cache
CreationalPattern/ch01_SimpleFactory/obj/Debug/netcoreapp3.1/ch01_SimpleFactory.assets.cache
CreationalPattern/ch01_SimpleFactory/obj/Debug/netcoreapp3.1/ch01_SimpleFactory.csproj.CopyComplete
CreationalPattern/ch01_SimpleFactory/obj/Debug/netcoreapp3.1/ch01_SimpleFactory.csproj.FileListAbsolute.txt
CreationalPattern/ch01_SimpleFactory/obj/Debug/netcoreapp3.1/ch01_SimpleFactory.csprojAssemblyReference.cache
CreationalPattern/ch01_SimpleFactory/obj/Debug/netcoreapp3.1/ch01_SimpleFactory.dll
CreationalPattern/ch01_SimpleFactory/obj/Debug/netcoreapp3.1/ch01_SimpleFactory.exe
CreationalPattern/ch01_SimpleFactory/obj/Debug/netcoreapp3.1/ch01_SimpleFactory.pdb
CreationalPattern/ch01_SimpleFactory/bin/Debug/netcoreapp3.1/ch01_SimpleFactory.deps.json
CreationalPattern/ch01_SimpleFactory/bin/Debug/netcoreapp3.1/ch01_SimpleFactory.dll
CreationalPattern/ch01_SimpleFactory/bin/Debug/netcoreapp3.1/ch01_SimpleFactory.dll.config
CreationalPattern/ch01_SimpleFactory/bin/Debug/netcoreapp3.1/ch01_SimpleFactory.exe
CreationalPattern/ch01_SimpleFactory/bin/Debug/netcoreapp3.1/ch01_SimpleFactory.pdb
CreationalPattern/ch01_SimpleFactory/bin/Debug/netcoreapp3.1/ch01_SimpleFactory.runtimeconfig.dev.json
CreationalPattern/ch01_SimpleFactory/bin/Debug/netcoreapp3.1/ch01_SimpleFactory.runtimeconfig.json
CreationalPattern/ch01_SimpleFactory/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
CreationalPattern/ch01_SimpleFactory/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
CreationalPattern/ch01_SimpleFactory/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
CreationalPattern/ch01_SimpleFactory/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
CreationalPattern/ch01_SimpleFactory/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
CreationalPattern/ch01_SimpleFactory/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
CreationalPattern/ch01_SimpleFactory/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
CreationalPattern/ch01_SimpleFactory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
CreationalPattern/ch01_SimpleFactory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
CreationalPattern/ch01_SimpleFactory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
CreationalPattern/ch01_SimpleFactory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
